body,html{
    margin: 0 auto;
    padding:0;
    max-width: 1440px;
    height: 100%;
}
h1{
    font-family: 'Poppins', sans-serif;
    color:white;
    font-size: 30px;
    font-weight: 400;
}
p{
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size: 20px;
}


.logo{
    background-color: transparent;
    padding:4% 5%;
}

.main-container{
    max-width: 1440px;
    background-color: hsl(257, 40%, 49%);
    background-image: url(/images/bg-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    
}
@media only screen and (max-width: 375px){
    .main-container{
    width: 375px;
    background-color: hsl(257, 40%, 49%);
    background-image: url(/images/bg-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    }
    .logo img{
    width: 150px;
    margin: 3%;
    }
}

.flex-container{
    display: flex;
}
@media only screen and (max-width: 375px){
    .flex-container{
        display: flex;
        flex-direction: column;
    }
}

.left-side-image{
    margin:2% 5%;
}
@media only screen and (max-width: 375px){
    .left-side-image img{
        width:300px;
        margin:2%;
    }
}

.right-hero{
    text-align: left;
}


@media only screen and (max-width: 375px){
    .right-hero{
       text-align:center;
       
    }
    .right-hero h1{
        font-size: 25px;
        
     }
     .right-hero p{
        font-size: 17px;
        
     }
 
    
}

.btn{
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 15px 55px;
   text-align: center;
   font-size: 17px;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 25px;
  box-shadow: 3px 8px 10px #494848a6;
  }

@media only screen and (max-width: 375px){
    .btn{
       margin-left: 5%;
       padding: 15px 90px;
       margin-bottom: 10%;
    }

}






.footer-container{
    display: flex;
    justify-content: flex-end;
    min-width: 1440px;
}

@media only screen and (max-width: 375px){

    .footer-container{
        min-width:375px;
    }

    .attribution{
        display: none;
    }
    .social-media{
        margin:20px;
        
    }

}


.attribution{
    margin-right: 15%;
    margin-top: 5%;
}
.social-media{
margin-right: 5%;
}

.social-media img{
    flex-direction: row;
    margin:3px;
}
